*{
 margin: 0;
 padding: 0;
 border:0;
 font: size 100%;
 vertical-align: baseline;

}
body{
    text-align: center;
    font-family:  sans-serif;
    background-color: rgb(255, 127, 202);
    background-image: url(./imagenes/fondo1.jpg);
}
header{
    display: flexbox;
    justify-items: center;
    align-items: center;
    
}
head{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    height: 100px;
    background:   #000000      ;
    
    width: 100%;
    z-index: 100;
}
.contenido{
    display:flex;
    margin-right:150px;
    margin-left:50px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

