*{
 margin: 0;
 padding: 0;
 border:0;
 font: size 100%;
 vertical-align: baseline;

}
body{
    text-align: center;
    font-family:  sans-serif;
    background-color: rgb(65, 60, 60);
    
}
header{
    display: flexbox;
    justify-items: center;
    align-items: center;
    
}
head{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    height: 100px;
    background:   rgb(65, 61, 61)      ;
    
    width: 100%;
    z-index: 100;
}
.contenido{
    display:flex;
    margin-right:150px;
    margin-left:50px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    
    margin-right:150px;
    margin-left:50px;
    
    border-radius: 10px;
    margin: 30px 20px;
    padding: 5px 5px;
    
    background-color:  rgb(48, 45, 45) ;
    border: 1px solid transparent;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(157, 186, 197);
    text-align:center;

}
.principal{
    margin-right:150px;
    margin-left:50px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 10px 150px;
    background-color: transparent;
    border: 1px solid wheat;
}
.principal:hover{
    background-color: transparent;
    border: 2px solid white;
    color: wheat;
}
.texto{
    margin-right:70px;
    margin-left:60px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin: 30px 50px;
    padding: 70px 150px;
    text-align:center;
    background-color:  rgb(48, 45, 45) ;
    border: 1px solid transparent;
}
.imagen{
    border-radius: 5rem;
    width: 150px;
    height: 0px;
    border-radius: 20px;
}   

.imagen1{
    border-radius: 5rem;
    width: 850px;
    height: 0px;   
    border-radius: 20px;
}
.imagen2{
    border-radius: 5rem;
    width: 1550px;
    height: 190px;
    border-radius: 20px;
}

.conet{
    margin-right:150px;
    margin-left:50px;
    text-align:left;
    
}
.j{
    margin-right:20px;
    margin-left:20px;
    border-radius: 10px;
    
}
.title{
    margin-right:20px;
    margin-left:20px;
    
    
}
